.header {
    grid-area: h;
    /*background-color: b;*/
    background: url("https://pcvector.net/uploads/posts/2018-08/1533326959_low-poly-background-generator-min.png");
    background-size: 100%;
}

.header img {
    width: 50px;
    height: 50px;
}